.kwland{
    padding-top: 50px;
    padding-bottom: 10px;
    width: 20%;
    font-size: 60px;
    color: pink;
}
body{
margin:  0 auto;
padding: 0;
box-sizing: border-box;
background: #f0dcec;
}
/* menu alinhado */
#menu {
    list-style: none;
    padding: 0;
    background: pink;

}
#menu li{
display: inline;
padding: 30px;
}

#menu li a {
    padding: 10px;
    color: black;
    display: inline-block;
    text-decoration: none;
}
#menu li a:hover {
    color: rgb(160, 20, 43);
}


    
/* rodapé */
  footer{
    padding:30px;
    background: rgb(249,194,194);
  }

 /* formulario*/
form{

  margin: 20px;
}

select{
  background: pink;
  border-color: pink;
 padding: 10px;
  border-radius: 10px;
  outline: none;
 }

 #form{
  outline: none;
  border-color: pink;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
 }
 #btn{
  background: pink;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
 }
 